#### 1.	Import the necessary package to a.	Set the current working directory b.	Change the working directory

In [34]:
import os

In [37]:
os.getcwd()

'C:\\Raj\\DataScience\\Phython'

In [44]:
os.chdir('C:\Raj\DataScience')

In [41]:
os.getcwd()

'C:\\Raj\\DataScience'

In [46]:
os.chdir('C:\Raj\DataScience\Phython')

In [47]:
os.getcwd()

'C:\\Raj\\DataScience\\Phython'

### Create the string, int and float variable and delete them all in the next cell

In [48]:
var_str1 = 'First String' 
var_num1 = 10
var_float1 = 10.7
print(var_str1)
print(var_num1)
print(var_float1)

First String
10
10.7

In [49]:
del var_str1,var_num1,var_float1

In [50]:
print(var_str1)

NameError: name 'var_str1' is not defined

In [51]:
print(var_float1)

NameError: name 'var_float1' is not defined

In [52]:
print(var_num1)

NameError: name 'var_num1' is not defined

### What’s the result of assigning a value to a ‘keyword’

In [53]:
True = 'aa'

SyntaxError: cannot assign to True (Temp/ipykernel_4388/1060292360.py, line 1)

### How to write a multi-line statement and assign it to a variable

In [54]:
var_num2 = (1 + 2 + 3 +
           5 + 6)
print(var_num2)

17

### Print the list of numbers from 100 to 999 with an interval (step size) of 8 between the numbers

In [55]:
print(list(range(100,999,8)))

[100, 108, 116, 124, 132, 140, 148, 156, 164, 172, 180, 188, 196, 204, 212, 220, 228, 236, 244, 252, 260, 268, 276, 284, 292, 300, 308, 316, 324, 332, 340, 348, 356, 364, 372, 380, 388, 396, 404, 412, 420, 428, 436, 444, 452, 460, 468, 476, 484, 492, 500, 508, 516, 524, 532, 540, 548, 556, 564, 572, 580, 588, 596, 604, 612, 620, 628, 636, 644, 652, 660, 668, 676, 684, 692, 700, 708, 716, 724, 732, 740, 748, 756, 764, 772, 780, 788, 796, 804, 812, 820, 828, 836, 844, 852, 860, 868, 876, 884, 892, 900, 908, 916, 924, 932, 940, 948, 956, 964, 972, 980, 988, 996]

### Write a “for” loop to print out the ‘n’ values and break out of the statement if the value is ‘n/2’

In [56]:
var_num2 = 10
for i in range(var_num2):
    if (i == var_num2/2):
        break
    else:
        print(i)

0
1
2
3
4

### Write a simple function and call the docstring from outside the function

In [57]:
def doc_string_func():
    """ This function is create doc string """
    var1= 'Doc String'
    print(var1)

In [58]:
print(doc_string_func.__doc__)

 This function is create doc string

###### Create a user-defined package in ‘site-packages’ with below 3 variables a, b and c. Import these variables and write a function to calculate the area of triangle for below 3 sides (a, b, c). 
Calculate the semi-perimeter (s) first, to calculate the area of triangle (area) at last 
<< Formula to calculate semi-perimeter: s = (a+b+c )/2 
<< Formula to calculate area = (s*(s-a) * (s-b) * (s-c)) ** 0.5  
a.	15 
b.	51 
c.	17

In [62]:
from my_package import triangle_area_peri as tap
var_area = tap.tri_area_func(15,51,17)
print(var_area)

(3.097937745838546e-14+505.93162828587816j)

##### Write a list comprehension to print the odd numbers from 0 to 100

In [64]:
var_odd = [a for a in range(0,100,1) if a%2 != 0]
print(var_odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

###### Create a variable (ex: name) and store your full name in it. Then write a list comprehension to print your name excluding vowels (a, e, i, o, u)
a.	Ex: name = Imran
b.	Output = [‘m’, ‘r’, ‘n’]

In [67]:
var_name = 'Rajasekaran'
var_vowels = ['a','e','i','o','u']
var_out = [a for a in var_name if a not in var_vowels]
print(var_out)

['R', 'j', 's', 'k', 'r', 'n']